.mainSection {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard {
    padding: 40px;
    border-radius: 20px;
    background-color: antiquewhite;
    min-width: 400px;
}

.loginTitle {
    margin-bottom: 15%;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.loginForm label {
    font-weight: 800;
}

.loginForm input {
    margin-bottom: 20px;
    height: 35px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
}

.loginForm button {
    height: 34px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin: 6px 0;
    font-weight: 600;
    background-color: #808080b3;
    color: #ffffffe8;
    margin-top: 40px;
    /* &:hover {
        color: #808080b3;
        background-color: #ffffffe8; 
    } */
}

.loginForm button:hover {
    color: #808080b3;
    background-color: #ffffffe8;
}