.messagingAreaWrapper {
    height: 100vh;
}

.header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(68 22 122);
    padding: 0 60px;
}

.body {
    height: 90%;
    display: flex;
}

.sideBar {
    flex-basis: 15%;
    background-color: #20006245;
    padding: 20px 10px;
}

.sidebarLabel {
    color: white;
    margin-bottom: 6px;
}

.roomTitle {
    padding: 8px 26px;
    background-color: #967fb0;
    color: #ffff52bf;
    border-radius: 3px;
    margin-bottom: 12px;
}

.messageDisplayWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    overflow: hidden;
}

.messageDisplay {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    font-size: 20px;
    background-color: aliceblue;
}

.deleteHistoryCta {
    width: 130px;
    display: inline;
    margin-left: auto;
    background-color: #ff000073;
    border-radius: 5px;
    padding: 4px 0px;
    font-size: 17px;
}

.inputContainer {
    width: 100%;
    display: flex;
    padding: 30px 20px;
    background-color: #aca1db;
}

.input {
    flex-basis: 88%;
    min-height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 6px;
    border: 0.5px solid grey;
    outline: none;
}

.submitCta {
    flex: 1;
    cursor: pointer;
    border: none;
    background-color: blueviolet;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border-radius: 6px;
}

.userWrapper {
    height: 35px;
    background-color: #aa95b3a3;
    border-radius: 3px;
    display: flex;
    margin: 6px;
    align-items: center;
    margin-bottom: 10px;
}

.userName {
    padding-left: 7px;
    font-size: 21px;
    color: currentColor;
    font-weight: 700;
}

.exitCtaWrapper {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.exitCta {
    padding: 20px;
    font-size: 24px;
    background: none;
    border: none;
    font-weight: 600;
    color: red;
    cursor: pointer
}

.title {
    text-align: right;
    color: white;
}

.description {
    color: wheat;
    font-size: 28px;
}

.exitCta:hover {
    text-decoration: underline;
}

.messages {
    width: max-content;
    padding: 10px 60px 10px 10px;
    background-color: #bddfe4;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
}

.ownMessage {
    margin-left: auto;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
}

.sender {
    color: blue;
    font-size: 17px;
    margin-bottom: 4px;
}

.date {
    color: #5b5252;
    font-size: 13px;
    margin-left: 2px;
}

.messageWrapper {
    margin: 4px 0px;
}

.messagesContainer {
    overflow-y: scroll;
}

.messagesContainer::-webkit-scrollbar {
    display: none;
}

.usersContainer {
    overflow-y: scroll;
    height: 73%;
}

.usersContainer::-webkit-scrollbar {
    display: none;
}

.youTag {
    color: white;
    font-size: 14px;
    margin-left: 3px;
}